<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Joe Regenstein, CPA, FPAC</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="{{ url_for('static',filename='css/style.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('blogfeed') }}">Blog</a></li>
            <li><a href="{{ url_for('social') }}">Social</a></li>
            <li><a href="{{ url_for('now') }}">Now</a></li>
            <li><a href="{{ url_for('merch') }}">Merch</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('blogfeed') }}">Blog</a></li>
            <li><a href="{{ url_for('social') }}">Social</a></li>
            <li><a href="{{ url_for('now') }}">Now</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center dark-blue-text">Joe Regenstein, CPA, FPAC</h1>
            <div class="row center">
                {# <h5 class="header col s12 dark-blue-text">A modern responsive front-end framework based on Material
                    Design</h5>  #}
            </div>
            {#  <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div> #}
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', filename='images/Sunrise Over Mountains Landscape.png') }}"
                               alt="Background Image"></div>
</div>


  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 dark-blue-text">
                       <h5> {% block content %}
                        {% endblock %}</h5>
        </div>
      </div>
    </div>
  </div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">

        </div>
    </div>
</div>

<footer class="page-footer dark-blue">
    <div class="container">
        <div class="row">
            <div class="col l9 s12">
                <h5 class="white-text">Joe Regenstein, CPA, FPAC</h5>
                <p class="white-text">Tech-savvy financial manager, operations
                    efficiency author, and lifelong learner at the intersection of family, outdoor adventures,
                    and the future of AI.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="https://www.linkedin.com/in/josephregenstein/">LinkedIn</a></li>
                    <li><a class="white-text" href="https://substack.com/profile/58849485-joe-r">Substack</a></li>
                    <li><a class="white-text" href="https://iris.to/nemesis4212">Nostr</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © Copyright 2023 Joe Regenstein
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ url_for('static',filename='js/materialize.js') }}"></script>
<script src="{{ url_for('static',filename='js/init.js') }}"></script>

</body>
</html>