{% extends "base.html" %}

{% block content %}

    <p>Hello! I'm Joe Regenstein, a Sr. Manager in FP&A for Verizon based in Dallas/Fort Worth, and a keen
        observer of operational efficiencies. I'm currently authoring a book on managing work in process in
        non-manufacturing settings, while also refining my skills in Python app development to enhance my personal
        website. Outside work, I'm an outdoors enthusiast and a proud father of two.
    <p>My blog at <a href="http://jregenstein.com">jregenstein.com</a> shares my thoughts on operational strategies,
        book reviews,
        and more. As a lifelong learner, I'm exploring the potential of generative AI and eager to integrate it into
        my workflow. For more professional details, feel free to visit my <a
                href="https://www.linkedin.com/in/josephregenstein/">LinkedIn</a>.

{% endblock %}