{% extends "base.html" %}

{% block content %}
    <p>Based in the vibrant Dallas/Fort Worth area, I'm currently serving as a Sr. Manager in FP&A for Verizon,
        where I dedicate my professional energy to supporting the South East Region. My role is complex and
        ever-changing, reflecting the dynamic nature of the telecom industry.

    <p>In addition to my day-to-day responsibilities at Verizon, I've been investing time into a unique project:
        writing a book about managing work in process in non-manufacturing settings. This endeavor is a passion
        project of mine that blends my professional expertise with my love for writing and knowledge sharing. I've also
        been updating my <a href="https://jregenstein.com">blog</a> when I complete a project or learn something that
        changes my ways of working.

    <p>Not one to shy away from a learning opportunity, I've recently immersed myself in the world of web
        development and Python app creation, inspired by the instructions from Derek Sivers. I've been honing these
        skills to further enhance my personal website, continually exploring the potential of these powerful tools.

    <p>On the personal front, I've reignited my love for running and cycling, two activities that offer both
        physical challenges and mental clarity. I'm also looking forward to exploring new territories this summer
        with a trip to Hot Springs National Park in Arkansas, a destination I've yet to experience.

    <p>Family remains a central part of my life, with my daughter embarking on dual enrollment classes and my son
        nearing the completion of his adult black belt in karate. Their achievements continually inspire me and
        remind me of the richness of life's various stages. None of this would be possible without a supportive Wife and
        loving Mother.

    <p>My current philosophy is one of diligent work and ceaseless learning. I'm especially fascinated by the recent
        developments in generative AI, and I'm actively learning how to leverage these tools to stay ahead of the
        curve. Using these tools I designed a series of images and launched a <a
                href="https://www.riggstees.com/">store</a> and working on how to better market my creations. I believe
        in continually enhancing both my personal and professional skills, embracing the rapid pace
        of technology while staying grounded in my personal growth and family life.
{% endblock %}