{% extends "base.html" %}

{% block content %}
    <main class="container">
    <h1>Social Media</h1>
    <h2>LinkedIn</h2>
    <a href="https://www.linkedin.com/in/josephregenstein/">https://www.linkedin.com/in/josephregenstein/</a>
    <h2>Substack</h2>
    <a href="https://substack.com/profile/58849485-joe-r">Substack Profile</a>
    <h2>Nostr</h2>
    nemesis4212@iris.to<br>
    <a href="https://iris.to/nemesis4212">https://iris.to/nemesis4212</a><br>
    npub15nlvjpc0tztkhwm76w39j5ttq0fzjuhxlvgr5sjr3td39adttnhq40x5da<br>
    </main>
{% endblock %}