{% extends "base.html" %}

{% block content %}
    <h1>LinkedIn</h1>
    <a href="https://www.linkedin.com/in/josephregenstein/">https://www.linkedin.com/in/josephregenstein/</a>
    <h1>Blog</h1>
    <a href="http://jregenstein.com">jregenstein.com</a>
    <h1>Substack</h1>
    <a href="https://substack.com/profile/58849485-joe-r">Substack Profile</a>
    <h1>Nostr</h1>
    nemesis4212@iris.to<br>
    <a href="https://iris.to/nemesis4212">https://iris.to/nemesis4212</a><br>
    npub15nlvjpc0tztkhwm76w39j5ttq0fzjuhxlvgr5sjr3td39adttnhq40x5da<br>
{% endblock %}